/* Get Started */

/* grey background over top whole webpage */
body {
    overflow: hidden;
}
.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top:0; bottom:0; left:0; right:0;
    z-index: 2;
    background-color: #343434;
}

.code {
    width: 100%;
}

.svg {
    width: 25px;
    margin: 0;
}

.get-started-card {
    margin: auto;
    width: 50%;
    height: 55%;
    background-color: #1c1c1c9e;
    padding: 2.5rem 2.5rem;
    border-radius: 50px;
    color: white;
    text-align: center;
    transition: transform 250ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.descriptions {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.descriptions h4 {
    margin-bottom: 0;
}

.box-desc {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 33%;
    margin-right: 20px;
}

.box-desc-img {
    width: 80px;
    margin: auto;
    margin-bottom: 0px;
}

.desc-p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
}

.continue-button {
    width: 149px;
    height: 25px;
    background: linear-gradient(270deg, rgba(255, 0, 216, 0.76) -19.13%, #FF40A7 2.29%, #02A4FF 43.13%, #5E97FF 74.59%, #00D1FF 109.4%);
    border-radius: 18px;
    color: white;
    border: none;
    cursor: pointer;
}

/* Landing Page */

h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
    color: white;
}

h2 {
    font-size: 16px;
    color: white;
}

p { 
    font-size: 14px;
    color: white;
}

.landing-page {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.landing-nav {
    display: flex;
    padding-bottom: 10px;
    gap: 1rem;
}

.bar-icon {
    color:white; 
    margin-top: 4px; 
}

.landing-nav a {
    font-size: 14px;
}

.landing-nav h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    padding-top: 5px;
    margin-left: auto; 
    margin-right: 1.3rem;
}

.run-btn {
    background-color: rgb(26, 189, 26);
    border-radius: 5px;
    padding: 3px;
    width: 80px;
    margin-left: auto;
    margin-right: 1.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.run-btn:hover {
    cursor: pointer;
    background-color: rgb(18, 121, 18);
}

.landing-page-container {
    display: flex;
    height: 94vh;
}

.landing-toolbar {
    display: flex;
    flex-direction: column;
    min-width: 2rem;
    margin: 0;
    padding-right: 8px;
}

.landing-toolbar a {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.landing-toolbar a:hover {
    background: -webkit-linear-gradient(180deg, #FF0000 -8.55%, #FF007A 17.53%, #C323FF 48.36%, #5E6CFF 79.18%, #00A3FF 105.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#icon-solid-click {
    background: -webkit-linear-gradient(180deg, #FF0000 -8.55%, #FF007A 17.53%, #C323FF 48.36%, #5E6CFF 79.18%, #00A3FF 105.26%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    z-index: 5;
    text-align: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(26, 25, 25);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(26, 25, 25) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#editor { 
    background: rgb(60, 60, 60);
    max-width: 55rem;
    margin: 0;
    padding: 0;
    flex: 2;
    display: flex;
}

.landing-info-terminal-container {
    display: flex;
    flex-direction: column;
    min-width: auto;
    margin: 0;
    margin-left: 14px;
    margin-right: 23px;
    flex: 1;
}

.landing-info {
    background: rgb(60, 60, 60);
    flex: 0.5;
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column;
    gap: 8px;
}

.landing-info-button {
    max-width: 5rem;
    border-radius: 8px;
    border: transparent;
    color: white;
    font-weight: 800;
    background-color: rgb(220, 78, 255);
    margin: 0 10rem;
    flex: 1;
}

.landing-info-button:hover {
    background-color: rgb(181, 214, 115);
}

#terminal {
    background: rgb(20, 20, 20);
    caret-color: white;
    color: white;
    margin-top: 14px;
    flex: 1;
    display: flex;
}

.term-blue {
    color: #48A7FF;
}

#code-window-text {
    resize: none;
    flex: 1;
    padding-top: 8px;
    padding-left: 1rem;
    font-size: 18px;
    color: white;
    background: transparent;
    border-color: rgb(60, 60, 60);
}

#terminal-text {
    resize: none;
    flex: 1;
    padding-top: 8px;
    padding-left: 1rem;
    color: white;
    background: transparent;
    font-size: 16px;
    border-color: rgb(20, 20, 20);
}

/* Language Selection Menu */

.language-selection {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0; bottom:0; left:52px; right:0;
    z-index: 2;
    background-color: transparent;
}

.selection-card {
    margin-top: 50px;
    margin-left: 10px;
    width: 15%;
    height: 35%;
    background-color: #1c1c1c;
    padding: 2rem 2rem;
    border-radius: 25px;
    color: white;
    text-align: center;
    transition: transform 250ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.selection-card h3 {
    font-size: 17px;
}

.selection-card:hover {
    transform: scale(1.05);
}

.language-search-bar {
    margin-top: 6px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background: transparent;
    text-align: center;
    outline: none;
    color: rgb(255, 255, 255);
}

.language-list {
    height: 100px;
    width: 120px;
    overflow: auto;
    margin: auto;
    margin-top: 10px;
}

.language-list::-webkit-scrollbar {
    display: none;
}

#lang-search {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#lang-search li a {
    text-decoration: none;
}

.success-alert {
    position: absolute;
    margin-bottom: 10px;
    bottom: -50px;
    width: 100%;
    z-index: 2;
}

.success-alert p{
    width: 23%;
    text-align: center;
    font-size: 13px;;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    margin: auto;
    background-color: rgb(56, 157, 56);
    border-radius: 7px;
}