html {
    font-family: 'JetBrains Mono';font-size: 18px;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: #242424;
    margin: 0;
    overflow-x: hidden;
}

#wave {
    position: absolute;
    z-index: 0;
}

#gray-wave {
    position: relative;
}

#bottom-wave {
    position: relative;
    z-index: -1;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12px;
    bottom: 0px;
    color: white;
    z-index: 10;
}

/* Overlay */
.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.789);
    z-index: 10;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    gap: 20px;
}

#close {
    position: absolute;
    top: 20px;
    right: 50px;
    color: red;
    cursor: pointer;
}

.overlay-content h1 {
    margin-bottom: 0px;
}

.overlay-content p {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    background-color: transparent;
    /* bottom border only */
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

input:focus {
    outline: none;
    border-bottom: #00D1FF 1px solid;
    transition: 0.5s ease-in-out;
}

#main {
    z-index: 5;
}

.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    height: 30px;
    gap: 20px;
    margin: 20px;
}

.navbar i {
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: #44A5EC;
}

.title-content {
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
    margin-bottom: 10px;
    padding-top: 60px;
}

.titles {
    text-align: center;
}

.code-now-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    /* rainbow border */
    background: linear-gradient(to right, #00A3FF 20%, #5E6CFF 40%, #C323FF 60%, #ff0080 80%);
    background-size: 300% auto;
    transition: ease-in-out 0.5s;
}

.code-now-btn:hover {
    background-position: right center;
    transition: 0.5s;
}

.code-now-btn-form {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    width: 130px;
    font-weight: bold;
    /* rainbow border */
    background: linear-gradient(to right, #00A3FF 20%, #5E6CFF 40%, #C323FF 60%, #ff0080 80%);
    background-size: 300% auto;
    transition: ease-in-out 0.5s;
}

.code-now-btn-form.active {
    background-position: right center;
    transition: 0.5s;
}

.code-now-btn-form.active:hover {
    border-radius: 20px;
}

.name {
    width: 605px;
    height: 95px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    background: linear-gradient(to right, #00A3FF 20%, #5E6CFF 40%, #C323FF 60%, #FF003C 80%, #C323FF, #5E6CFF, #00A3FF);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: shine 10s linear infinite;
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.images {
    display: flex;
    width: 450px;
    height: 275px;
    align-items: center;
    justify-content: center;
    background: #363636;
    border-radius: 32px;
}

.images:hover {
    transform: scale(1.1);
    transition: 0.5s;   
}

.title-cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding-bottom: 30px;
}

.card {
    width: 310px;
    height: 310px;
    left: 171px;
    top: 527px;
    text-align: center;
    color: white;
    background: #363636;
    border-radius: 11px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.card-content {
    padding: 20px;
}

.card p {
    width: 265px;
    margin: auto;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}

.card i {
    font-size: 60px;
}

.accent {
    color: #44A5EC; 
    font-weight: 500;
}

.color {
    background: -webkit-linear-gradient(180deg, #FF0000 -8.55%, #FF007A 17.53%, #00A3FF 105.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
 
.text-accent-you {
    background: linear-gradient(180deg, #00D1FF 0%, #CA00FD 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.animate {
    animation: cursor-blink 1s steps(2) infinite;
}

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    background-color: rgb(31, 31, 31);
    margin-top: -20px;
    border-radius: 20px 20px 0px 0px;
}

.information-container h4 {
    font-size: 23px;
    margin-bottom: 0px;
}

.info-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 200px;
}

.info-content.right {
    text-align: right;
}

.info-content.right h3 {
    display: flex;
    width: 200px;
    margin-left: auto;
    text-align: right;
}

.info-content.first {
    height: 500px;
}

#gray-wave-up {
    rotate: 180deg;
}

.side-content {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.side-content p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.right-image {
    width: 800px;
}

@keyframes cursor-blink {
    0% { opacity: 0; }
}

.get-started {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: white;
    gap: 10px;
}

.get-started h3 {
    width: 250px;
    margin-bottom: 0px;
}

.get-started p {
    margin-top: 0px;
    color: rgba(171, 171, 171, 1);
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom-row .learn-more {
    color: white;
    text-decoration: none;
}

.bottom-row .learn-more:hover {
    color: #44A5EC;
    /* underline */
    transition: 0.5s ease;
}

/* slowly underline animation */
@keyframes underline {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.bottom-row .learn-more:hover::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #44A5EC;
    animation: underline 0.5s ease forwards;
}

@media screen and (max-width: 1100px) {
    .title-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .title-cards {
        align-items: center;
        flex-direction: column;
    }
    .info-content img{
        display: none;
    }
    .info-content.first {
        height: auto;
    }
    .info-content.right {
        text-align: center;
    }
    .info-content.right h3 {
        margin: auto;
        text-align: center;
    }
    .info-content {
        text-align: center;
    }
    .images {
        width: 350px;
    }
    .images img {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .title-cards {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .name {
        font-size: 32px;
    }
    .title-content h2 {
        font-size: 18px;
        margin-top: none;
    }
}
